<div class="jumbotron jumbo">
  <h3 class="heading" >See the Product Reviews Here</h3>
</div>

<div class="row">
  <div class="col-sm-auto row-style" >
    <h5 class="color-style">{{selProd}}</h5>
    <label for="favcity">
      <select id="favcity" name="select" [(ngModel)]="selectedProductValue" (change)='onOptionsSelected(selectedProductValue)'>
        <option selected="selected" disabled>Select Product</option>
        <option *ngFor="let prod of products" [value]="prod">Product {{prod}}</option>
      </select>
    </label>
  </div>
  <div class="col-sm-auto">
    <h5 class="color-style">{{selView}}</h5>
    <label for="favcity">
      <select id="favcity" name="select" [(ngModel)]="selectedViewerValue" (change)='onOptionsSelected(selectedViewerValue)'>
        <option  selected="selected" disabled>Select Viewer</option>
        <option *ngFor="let view of viewers" [value]="view">Viewer {{view}}</option>
      </select>
    </label>
  </div>
  <div class="col-sm-auto">
    <h5 class="color-style">{{sortType}}</h5>
    <label for="favcity">
      <select id="favcity" name="select" [(ngModel)]="sortColumn" (change)='sortBy(reviews)'>
        <option selected="selected" [value]="" disabled>Sort By</option>
        <option [value]="0">Overall Ratings</option>
        <option [value]="1">Usefulness</option>
        <option [value]="2">Reviewer Connection Level</option>
      </select>
    </label>
  </div>
</div>
<br>

<h3 class="row-style clr-style">Product Review</h3>

<ng-http-loader></ng-http-loader>

<div *ngFor="let review of reviews | paginate: { itemsPerPage: 3, currentPage: p }" class="card card-style" >
  <div class="card-header">
    <b>Title: </b>{{review.title}}
  </div>
  <div class="card-body">
    <star-rating labelText="Overall Rating" [starType]="'svg'" [rating]="review.ratings.Overall"></star-rating><br>
    <p class="card-title"><b>Comments: </b>{{review.comment}}</p>
    <p class="card-text"><b>Usefulness: </b>{{review.usefulness}}</p>
    <p class="card-text" *ngIf="review.friend"><b>Reviewer Name: </b>{{review.reviewer.name}}</p>
    <button class="btn btn-primary" (click)="showAll(review.ratings, review.user_id)">Show all ratings</button>
    <app-product-review *ngIf="currentId === review.user_id && showAllRatings" [ratings]= "allRatings" [id]="currentId"></app-product-review>
    <!--    <p class="card-text" *ngIf="currentId === review.user_id && showAllRatings">-->
<!--      <star-rating labelText="Delivery Time" [starType]="'svg'" [rating]="allRatings.delivery_time"></star-rating>-->
<!--      <star-rating labelText="Discounts & Offers" [starType]="'svg'" [rating]="allRatings.discounts_and_offers"></star-rating>-->
<!--      <star-rating labelText="Matches Desription" [starType]="'svg'" [rating]="allRatings.matches_description"></star-rating>-->
<!--      <star-rating labelText="Matches Photo" [starType]="'svg'" [rating]="allRatings.matches_photo"></star-rating>-->
<!--      <star-rating labelText="Packaging" [starType]="'svg'" [rating]="allRatings.packaging"></star-rating>-->
<!--      <star-rating labelText="Price" [starType]="'svg'" [rating]="allRatings.price"></star-rating>-->
<!--    </p>-->
  </div>
</div>

<div class="pagination-style">
<pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>



<router-outlet></router-outlet>
