<div class="jumbotron" style="background: #008ae6; height: 1px;">
  <h3 style="padding-left:26rem; color:whitesmoke">See the Product Reviews Here</h3>
</div>

<div class="row">
  <div class="col-sm-auto" style="margin-left: 15rem;">
    <label for="favcity">
      <select id="favcity" name="select" [(ngModel)]="selectedProductValue" (change)='onOptionsSelected(selectedProductValue)'>
        <option selected="selected" disabled>Select Product</option>
        <option *ngFor="let prod of products" [value]="prod">Product {{prod}}</option>
      </select>
    </label>
  </div>
  <div class="col-sm-auto">
    <label for="favcity">
      <select id="favcity" name="select" [(ngModel)]="selectedViewerValue" (change)='onOptionsSelected(selectedViewerValue)'>
        <option  selected="selected" disabled>Select Viewer</option>
        <option *ngFor="let view of viewers" [value]="view">Viewer {{view}}</option>
      </select>
    </label>
  </div>
</div>
<br>

<h3 style="margin-left: 15rem;">Product Review</h3>

<ng-http-loader></ng-http-loader>

<div *ngFor="let review of reviews | paginate: { itemsPerPage: 3, currentPage: p }" class="card" style="width: 52rem; margin-left: 15rem; padding-bottom: 2rem;">
  <div class="card-header">
    <b>Title: </b>{{review.title}}
  </div>
  <div class="card-body">
    <p class="card-title"><b>Comments: </b>{{review.comment}}</p>
    <p class="card-text"><b>Usefulness: </b>{{review.usefulness}}</p>
    <b>Overall Ratings: </b><star-rating [starType]="'svg'" [rating]="review.ratings.Overall"></star-rating>
    <a href="#" class="btn btn-primary">Show all ratings</a>
  </div>
</div>

<div style="padding-left: 30rem; margin-top: 3rem;">
<pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>


<!-- <app-product-review [productId]= "selectedProductValue" [viewerId]= "selectedViewerValue"></app-product-review> -->
<router-outlet></router-outlet>
