<star-rating labelText="Delivery Time" [starType]="'svg'" [rating]="ratings.delivery_time"></star-rating>
<star-rating labelText="Discounts & Offers" [starType]="'svg'" [rating]="ratings.discounts_and_offers"></star-rating>
<star-rating labelText="Matches Desription" [starType]="'svg'" [rating]="ratings.matches_description"></star-rating>
<star-rating labelText="Matches Photo" [starType]="'svg'" [rating]="ratings.matches_photo"></star-rating>
<star-rating labelText="Packaging" [starType]="'svg'" [rating]="ratings.packaging"></star-rating>
<star-rating labelText="Price" [starType]="'svg'" [rating]="ratings.price"></star-rating>

